#player_interaction_container {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 300px;
    transform: translateY(-30%);
}

#player_interaction_header {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#player_interaction_body {
    background-color: white;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}